* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  align-self: center;
  color: #fff;
  font-size: 15px;
}

.img,
.img-overlay {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.img {
  width: 375px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background: url(/images/image-header-mobile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 27vh;
}

.img-overlay {
  width: 375px;
  min-height: 27vh;
  background-color: rgba(108, 25, 203, 0.56);
}

.main-header {
  width: 300px;
  margin: auto;
  text-align: center;
}

.main-paragraph {
  width: 260px;
  margin: auto;
  text-align: center;
}

.main-header {
  width: 300px;
  margin: auto;
  text-align: center;
}

.violet-text {
  color: rgba(108, 25, 203);
}

.container {
  width: 375px;
  margin: auto;
}

.card-preview {
  background-color: hsl(244, 38%, 16%);
  padding: 0px 0px 0px 0px;
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 25px;
  padding-bottom: 28px;
  border-radius: 8px;
}
